main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  main {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  main {
    gap: 16px;
  }
}
